/* ./src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Clash;
    src: url("./assets/Fonts/ClashDisplay-Variable.ttf") format('truetype');
}

:root {
    font-family: 'Syne', sans-serif;
}


